@import './normalize.css';
@import './fonts.css';
@import './variables.css';

/*GENERAL*/
:root {
    margin: 0 auto;
}

.obfuscation {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
}

/*BANNER*/
.isBanner {
    width: 100%;
    height: auto;
    max-height: 15vh;
}

/*HEADER*/
.isHeader {
    display: flex;
    flex-direction: column;
}

/*NAV*/
.logo {
    max-width: 100px;
    max-height: 100px;
}

nav img{
    width: 100%;
}

nav {
    justify-content: space-around;
    align-items: center;
    display: flex;
}

/*MAIN*/
.isMain {
    display: flex;
    flex-direction: row;
}

/*ASIDE*/
.sidebar{
    width: 20vh;
    background-color: var(--bg-color-soft);
    border: 1px solid black;

    display: flex;
    flex-direction: column;
}

.unfolded-sidebar{

}

/*SEARCH ADV*/
.searchContainer{
    width: 100%;
    padding: 5vh 5vh 5vh 0vh ;
    display: flex;
    flex-direction: column;
    align-items: flex-start;/*Actúa de justify*/
    align-content: space-around;
    /* justify-content: center; */

    background-image: url('../assets/banner/banner.jpg');
    background-size: cover, 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--bg-color);
}
.searchContainer{
    padding-left: 5vh;
    align-self: flex-end;
    display: flex;
    align-content:space-between;
}
.searchButton {
    padding-right: 10vh;
    align-self: flex-end;
}